{
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 100,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
