/* DaisyUI overrides */
.range::-webkit-slider-thumb {
  @apply rounded-md;
  box-shadow:
    0 0 0 0px var(--range-shdw) inset,
    var(--focus-shadow, 0 0),
    calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size);

  background-color: var(--fallback-bc, oklch(var(--tb) / var(--tw-bg-opacity)));
}

.range:focus-visible::-webkit-slider-thumb {
  --focus-shadow: 0 0 0 2px var(--fallback-b1, oklch(var(--tf) / 1)) inset,
    0 0 0 2rem var(--range-shdw) inset;
}

.range::-webkit-slider-runnable-track {
  background-color: transparent;
}

.input.input.input {
  height: 2.5rem;
  min-height: 2.5rem;
  padding: 0.5rem;
}

input[type="checkbox"].toggle {
  --handle-offset: 1.4rem;
  border-radius: 0.4rem;
  border: none;
  height: 2rem;
  width: 3.5rem;
}
